.item {
  border-radius: 20px;
  padding: 1.5rem;
  max-width: calc(100% / 2 - 1rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  .item__image {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    img {
      max-width: 100%;
      display: block;
    }
  }
  .item__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #6c0360;
  }
  .item__gender {
    font-size: 1.5rem;
  }
  .item__species {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
