.card-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.196);
  z-index: 10;

  @media (min-width: 768px) {
    left: auto;
    right: 5%;
    top: 20%;
    background-color: transparent;
    width: 30%;
  }
}

.card {
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 16px;
  @media (min-width: 768px) {
    background-color: transparent;
    max-width: fit-content;
    transform: none;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
  .card-content__image {
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }
  .card-content__name {
    font-size: 3rem;
  }
  .card-content__gender {
    font-size: 2rem;
  }
  .card-content__species {
    font-size: 2rem;
  }
  .card-content__btn {
    padding: 1rem;
    border: 1px solid black;
    cursor: pointer;
  }
}
